head
  title homeSTATUS
  link(href="/stylesheets/antiblight2.css", media="all", rel="stylesheet", type="text/css")
  link(href='/stylesheets/leaflet.css', rel='stylesheet')
  meta(charset='utf-8')
  meta(content='', name='description')
  meta(content='width=device-width', name='viewport')

body(data-action='index', data-controller='home')
  div.container-addresses.container-addresses-show#wrapper
    .navbar
      .navbar-inner
        .container
          button.btn.btn-navbar(data-target='.nav-collapse', data-toggle='collapse', type='button')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/')
            img(alt="HomeStatus Logo", src="/images/logo-3.png")
          div.nav-collapse.collapse
            ul.nav.top-links
              li
                a(href="/pages/about") About
              li
                a(href="/pages/help") Help

            ul.nav.top-search
              li
                div.search-form
                  form(accept-charset="UTF-8", action="/search", method="get")
                    div(style="margin:0;padding:0;display:inline")
                      input(name="utf8", type="hidden", value="&#x2713;")

                    div.search-field
                      input#main-search-field(name="address", placeholder="Search address or street name", type="text", value="")
                    div.search-button
                      input.btn.btn-primary.btn-primary-search(data-disable-with="Search", name="commit", type="submit", value="Search")

    .container
      .row-fluid
        .span10.main
          .address-title
            h1 Build a better app!
          .property_history
            br
            br
            p
              span Use and re-use public data.
              br
              span Access our API or download datasets in KML and JSON formats.
              br
            p
              span We also support the Open311 API:&nbsp;
              a(href="/311/services.json") /311/services.json

      .row-fluid
        .span10.main
          .property_history
            .cases
              .case
                .case-history
                  .case-number
                    h4 Google Earth / KML API
                  table.table.table-condensed.timeline
                    tr
                      td(colspan="2")
                        p
                          span Start with&nbsp;
                          span(style="font-family:'Courier New';") http://homestatus.herokuapp.com
                          br
                          span No points will be returned if the street or house has no data from 2009-2012.

                    tr
                      td
                        span.arrow
                      td.status Street Level - All Cases
                
                    tr
                      td(colspan="2")
                        span Send a street's name. Abbreviate words such as Street, Avenue, and Lane.
                        ul(style="font-family:'Courier New';")
                          li /export.kml?streetname=Pio Nono Ave
                          li /export.kml?streetname=Smith St
                        
                    tr
                      td
                        span.arrow
                      td.status Geo Search - All Cases        
                    tr
                      td(colspan="2")
                        span Send a bounding box using latitude and longitude limits.
                        ul(style="font-family:'Courier New';")
                          li /geo.kml?bbox=SOUTH,WEST,NORTH,EAST&fmt=kml
                          li /geo.kml?bbox=32.833985,-83.668541,32.837032,-83.663971&fmt=kml
        
                    tr
                      td
                        span.arrow
                      td.status Geo Search - Open Cases
                
                    tr
                      td(colspan="2")
                        span Send a bounding box using latitude and longitude limits.
                        ul(style="font-family:'Courier New';")
                          li /geo.kml?status=open&bbox=SOUTH,WEST,NORTH,EAST&fmt=kml
                          li /geo.kml?status=open&bbox=32.839897,-83.652649,32.847108,-83.633938&fmt=kml

                    tr
                      td
                        span.arrow
                      td.status House Level - Cases and Survey Information
                    tr
                      td(colspan="2")
                        span Send an address in a format such as 700 Poplar St. Abbreviate words such as Street, Avenue, and Lane.
                        ul(style="font-family:'Courier New';")
                          li /export.kml?address=700 Poplar St

      .row-fluid
        .span10.main
          .property_history
            .cases
              .case
                .case-history
                  .case-number
                    h4 Web JSON APIs
                  table.table.table-condensed.timeline
                    tr
                      td(colspan="2")
                        p
                          span Start with&nbsp;
                          span(style="font-family:'Courier New';") http://homestatus.herokuapp.com
                          br
                          span No points will be returned if the street or house has no data from 2009-2012.

                    tr
                      td
                        span.arrow
                      td.status Street Level - All Cases
                
                    tr
                      td(colspan="2")
                        span Send a street's name. Abbreviate words such as Street, Avenue, and Lane.
                        ul(style="font-family:'Courier New';")
                          li /searchdb.json?streetname=Pio Nono Ave
                          li /searchdb.json?streetname=Smith St
                        
                    tr
                      td
                        span.arrow
                      td.status Geo Search - All Cases
                    tr
                      td(colspan="2")
                        span Send a bounding box using latitude and longitude limits.
                        ul(style="font-family:'Courier New';")
                          li /geo.json?bbox=SOUTH,WEST,NORTH,EAST
                          li /geo.json?bbox=32.833985,-83.668541,32.837032,-83.663971

                    tr
                      td
                        span.arrow
                      td.status Geo Search - Open Cases
                    tr
                      td(colspan="2")
                        span Send a bounding box using latitude and longitude limits.
                        ul(style="font-family:'Courier New';")
                          li /geo.json?status=open&bbox=SOUTH,WEST,NORTH,EAST
                          li /geo.json?status=open&bbox=32.833985,-83.668541,32.837032,-83.663971

                    tr
                      td
                        span.arrow
                      td.status House Level - Cases
                    tr
                      td(colspan="2")
                        span Send an address in a format such as 700 Poplar St. Abbreviate words such as Street, Avenue, and Lane.
                        ul(style="font-family:'Courier New';")
                          li /house?address=700 Poplar St

                    tr
                      td
                        span.arrow
                      td.status House Level - Surveys
                    tr
                      td(colspan="2")
                        span Send an address in a format such as 700 Poplar St. Abbreviate words such as Street, Avenue, and Lane.
                        ul(style="font-family:'Courier New';")
                          li /surveyed?address=700 Poplar St

  footer
    div.container
      .row-fluid
        .span4
          h3 We're in Beta!
          p We're busy at work building and improving this website, so we want your feedback! Please feel free to ask a question, report a problem, or suggest a feature.
          p Thanks!
        .span3
          h3 Contact Us
          p
            span Website
            br
            a(href="http://codeforamerica.org") http://codeforamerica.org
            br
          p
            span Email
            br
            a(href="mailto:macon@codeforamerica.org") macon@codeforamerica.org
            br
          p
            span Twitter
            br
            a(href="http://twitter.com/blightstatus) @blightstatus
            br
        
        .span2
          h3 Partners
          p
            a(href='http://codeforamerica.org')
              img(alt="Codeforamerica", src="http://commons.codeforamerica.org//sites/all/themes/civiccommons/images/codeforamerica.png")

          p
            a(href='http://maconga.gov') City of Macon